<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>

<body>
    {{> header}}
    <span>List of the projects</span>
    <ul>
        <li>{{projectList}}</li>
    </ul>
    {{userInfo.name}}
    {{userInfo.age}}
    {{userInfo.hobbies}}
    {{> footer}}

</body>

</html>